@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.webcam.js")">
    </script>
    <script>
        function MatchFindFunction() {
            $.ajax({
                type: "POST",
                url: "/Home/FindSimilarImages",
                contentType: "application/text; charset=utf-8",
                dataType: "text",
                success: function (data) {

                    if (data == "found") {

                        window.location.href = '@Url.Action("ChatBot", "Home")';
                    }
                    else {
                        window.location.href = '@Url.Action("Register", "Account")';
                    }
                }
            });
        }
        //});
    </script>
    <script>

        $("#Camera").webcam({
            width: 800,
            height: 450,
            mode: "save",
            swffile: "@Url.Content("~/Scripts/jscam.swf")",
            onTick: function () { },
            onSave: function () {
            },
            onCapture: function () {
                webcam.save("@Url.Content("~/Home/Capture")/");
                MatchFindFunction();
            },
            debug: function () { },
            onLoad: function () { }
        });
    </script>
}

<div id="webChatControl"></div>



<div id="Camera-CaptureDiv" style="width:420px;margin-top:13px;margin-left:200px;">
    <table>

        <tr>
            <td>
                <label for="Livecamera" style="font-size:15px;color:black" id="LivCamera_Lbl">Live Camera</label>
            </td>

        </tr>

        <tr>
            <td>
                <div id="Camera" @*style="width:320px;height:240px;padding-top:4px"*@></div>
            </td>

        </tr>
        <tr>
            <td>
                <input type="button" value="Capture" class="btn-block" style="margin-left:250px;" onclick="webcam.capture();" />
            </td>
        </tr>
    </table>

</div>




